.ornavi_custom{
    overflow: hidden;
}

.ornavi_head span{
    color: #000;
    font-size: 16px;
}

.ornavi_head span:nth-child(n+2):before, .ornavi_level1 .ornavi_attr:nth-child(n+2):before{
    content: '•';
    display: inline-block;
    margin: 0 0.5em;
}

.ornavi_level1 .ornavi_attr:nth-child(n+2):before{
    font-size: 2em;
    position: relative;
    top: 4px;
}

.ornavi_container{
    height: 200px;
    width: 100%;
}

.ornavi_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 22px;
    width: 90%;
    margin: 25px auto;
}

.ornavi_attr span, .ornavi_attr{
    color: #000;
    text-transform: uppercase;
}

.ornavi_attr:hover{
    cursor: pointer;
}

.ornavi_box_center, .ornavi_attr span:hover{
    color: #fff !important;
    text-decoration: none !important;
}

.ornavi_box_center, .ornavi_box_left, .ornavi_box_right, .ornavi_attr span:hover{
    position: relative;
    background: #000;
    padding: 0.25em 0.5em;
    color: #fff;
}

.ornavi_box_center::after, .ornavi_box_left::after, .ornavi_box_right::after, .ornavi_attr span:hover::after{
    top: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000;
	border-width: 10px;
	margin-left: -10px;
}

.ornavi_box_center::after, .ornavi_attr span:hover::after{
    left: 50%;
}

.ornavi_box_left::after{
    left: 20%;
}

.ornavi_box_right::after{
    left: 80%;
}

.ornavi_length_warning{
    color: #000;
}

.ornavi_string_container{
    height: 50px;
    width: 80%;
    margin: 50px auto;
}

.ornavi_string{
    display: inline-block;
    width: 100%;
    height: 2px;
    background:  #9e9d9d;
    position: relative;
    top: 58%;
}

.ornavi_filter div{
    margin: 25px 0;
}

.ornavi_level2{
    position: relative;
    right: 110px;
}

.ornavi_level2 span{
    margin: 0 5px;
}

.ornavi_filter{
    margin: 0px auto;
    width: 50%;
    text-align: center;
}

.ornavi_product_container{
    height: 150px;
    width: 100%;
    margin-bottom: 50px;
    z-index: 10000;
    position: relative;
}

.arrow_left, .arrow_right{
    border: solid #d2ceca;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    position: absolute;
    z-index: 100000;
    top: 72%;
}

.arrow_left:hover, .arrow_right:hover{
    cursor: pointer;
}

.arrow_right{
    -ms-transform: scaleY(1.3) rotate(-45deg);
    -webkit-transform: scaleY(1.3) rotate(-45deg);
    transform: scaleY(1.3) rotate(-45deg);
    right: 27px;   
}

.arrow_left{
    -ms-transform: scaleY(1.3) rotate(135deg);
    -webkit-transform: scaleY(1.3) rotate(135deg);
    transform: scaleY(1.3) rotate(135deg);
    left: 27px;
}

.ornavi_product{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #e3e3e3;
    position: relative;
}

.ornavi_price, .ornavi_name{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0.25em 0;
    background: #d4d0cc;
    background: -moz-linear-gradient(top, #d4d0cc 0%, #d4d0cc 48%, #b1aaa3 52%, #b1aaa3 100%);
    background: -webkit-linear-gradient(top, #d4d0cc 0%,#d4d0cc 48%,#b1aaa3 52%,#b1aaa3 100%);
    background: linear-gradient(to bottom, #d4d0cc 0%,#d4d0cc 48%,#b1aaa3 52%,#b1aaa3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d0cc', endColorstr='#b1aaa3',GradientType=0 );
}

.ornavi_name{
    font-weight: bold;
}

.ornavi_product_img{
    cursor: move;
    padding: 20px 40px;
    margin: 0 auto;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

.ornavi_slick_first, .ornavi_slick_last{
    width: 135px;
}

.ornavi_submit form{
    color: #000;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ornavi_submit form button{
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
}

.slick-slide{
    height: auto !important;
}

.ornavi_on_string img, .ornavi_product_img.ui-draggable-dragging, .ornavi_on_string{
    padding: 0 0;
    position: relative;
    float: left;
    border: none;
}

.ornavi_product_img.ui-draggable-dragging.ornavi_6mm, .ornavi_on_string img.ornavi_6mm{
    width: 30px;
    top: 10px;
}
.ornavi_product_img.ui-draggable-dragging.ornavi_8mm, .ornavi_on_string img.ornavi_8mm{
    width: 40px;
    top: 5px;
}
.ornavi_product_img.ui-draggable-dragging.ornavi_10mm, .ornavi_on_string img.ornavi_10mm{
    width: 50px;
}

.ornavi_on_string_delete{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

.ornavi_on_string img.ornavi_6mm + .ornavi_on_string_delete{
    bottom: 15px;
}

.ornavi_on_string img.ornavi_8mm + .ornavi_on_string_delete{
    bottom: 25px;
}

.ornavi_on_string img.ornavi_10mm + .ornavi_on_string_delete{
    bottom: 40px;
}

.slick-list{
    overflow: visible !important;
}

.ui-sortable-helper{
    top: auto !important;
}

#ornavi_filter, #ornavi_length_select{
    display: none;
}

.fancybox-lock .fancybox-overlay{
    z-index: 10000 !important;
}