.ornavi_string_container{
    height: 50px;
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ornavi_string{
    display: inline-block;
    width: 80%;
    height: 2px;
    background:  #9e9d9d;
    position: relative;
    top: 80px;
    left: 10%;
}

.ornavi_on_string img, .ornavi_on_string{
    padding: 0 0;
    position: relative;
}
.ornavi_on_string img.ornavi_6mm{
    width: 30px;
}
.ornavi_on_string img.ornavi_8mm{
    width: 40px;
}
.ornavi_on_string img.ornavi_10mm{
    width: 50px;
}

.ornavi-thumbnail{
    max-width: 45px;
}